* {
    font-family: 'Noto Sans Cypro Minoan', 'Poppins', 'Ysabeau Office', sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: space-around;
    gap: 20px;
}

.form_section {
    display: flex;
    padding: 5px;
    border-bottom: 10px;
    gap: 20px;
}

.form_label_input {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.form_textarea {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form_checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.btn_box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}

.btn_form {
    width: 80px;
    height: 45px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: 1px solid transparent;
    cursor: pointer;
}

.btn_reset {
    border: 1px solid green;
}

.btn_submit {
    background-color: fuchsia;
    border: none;
    color: white;
}

.btn_submit:hover {
    background-color: rgb(197, 157, 197);
}

.btn_reset:hover {
    background-color: limegreen;
}
@media screen and (min-width: 768px) {

    /*Estilo para tablet en adelante*/

    main {
        margin-top: 100px;
    }

    .banner_mobile {
        display: none;
    }

    .banner_desktop {
        display: block;
    }

    #about_me, #skills, #contact  {
        scroll-margin-top: 37px;
        /*para que no se esconda el titulo bajo la barra */
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* Estilo solo para tablet */

}

@media screen and (min-width: 1024px) {
    /* Estilo para escritorio */

}
