* {
    font-family: 'Noto Sans Cypro Minoan', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Ysabeau Office', sans-serif;
}
.form {
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: space-around;
    gap: 20px;
}

.form_section {
    display: flex;
    padding: 5px;
    border-bottom: 10px;
    gap: 20px;
}

.form_label_and_input {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.form_textarea {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form_checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.btn_box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}

.btn_form {
    width: 80px;
    height: 45px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn_reset {
    border: green
}

.btn_submit {
    background-color: fuchsia;
    border: none;
}

.btn_submit:hover {
    background-color: fuchsia;
}

.btn_reset:hover {
    background-color: greenyellow;
}